<p id="notice"><%= notice %></p>


<h2>
  <strong></strong>
  <%= @brewery.name %>
</h2>

<p>
  Number of beers: <%= @brewery.beers.count %>
</p>

<p>
  <i>Established in</i>
  <%= @brewery.year %>
</p>

<p>
 <% @brewery.beers.each do |beer| %>
   <%= link_to beer.name, beer %>
 <% end %>
</p>

<p>
  <% if @brewery.ratings.empty? %>
 <% else %>
 Has <%= pluralize(@brewery.ratings.count, 'rating')%>, average <%= @brewery.average_rating.to_s %>
 <% end %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Destroy', @brewery, method: :delete, data: { confirm: 'Are you sure?' } %>
